* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

header, .hero, footer {
    background: #1F2937;
}

.header-logo {
    font: 1000 24px Arial, sans-serif;
    color: #F9FAF8;
}

header, .hero {
    display: flex;
    justify-content: space-between;
    padding: 0 15vw;
}

header {
    padding-top: 2vh;
    align-items: center;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 2rem;
}

.hero {
    padding-top: 15vh;
    padding-bottom: 20vh;
}

.hero-left {
    display: flex;
    flex-direction: column;
    flex-basis: 28rem;
}

.hero-main {
    font: 1000 48px Arial, sans-serif;
    color: #F9FAF8;
}

.hero-secondary {
    margin: 0 0 0.5rem;
}

.hero-secondary, a, .placeholder {
    font: 18px Arial, sans-serif;
    color: #E5E7EB;
}

.placeholder {
    background: rgb(114, 114, 114);
    flex-basis: 35rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    border-radius: 0.5rem;
    width: 8rem;
    height: 2rem;
    color: #F9FAF8;
    border: none;
    font: bold 1rem Arial, sans-serif;
}

button, call-to-action {
    background: #3882F6;
}

.info {
    text-align: center;
    padding-bottom: 15vh;
}

.info-header {
    font: 1000 36px Arial, sans-serif;
    color: #1F2937;
    padding: 3rem;
}

.info-container {
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.info-block {
    flex-basis: 11rem;
    font: 18px Arial, sans-serif;
    color: rgb(87, 87, 87);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.illustration {
    height: 10.5rem;
    width: 10.5rem;
    border: 0.3rem solid #3882F6;
    border-radius: 1rem;
}

.quote {
    background: #E5E7EB;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote-text {
    font: italic 36px Arial, sans-serif;
    width: 51rem;
}

.quote-source {
    font: bold 1.5rem Arial, sans-serif;
    display: flex;
    justify-content: flex-end;
}